* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(#87CEEB, #FFF);
    display: flex;
    justify-content: center;
    align-items: center;
}

.board {
    position: relative;
    width: 800px;
    height: 400px;
    border-bottom: 20px solid green;
    overflow: hidden;
    background: linear-gradient(#87CEEB, #FFF);
}

.pipe {
    position: absolute;
    bottom: 0;
    width: 80px;
    animation: pipe-animation 2s linear infinite;
}

.mario {
    position: absolute;
    bottom: 0;
    width: 150px;
}

.clouds {
    position: absolute;
    top: 20px;
    width: 300px;
    animation: clouds-animation 10s linear infinite;
}

.score {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 28px;
    font-family: Arial;
    color: #222;
}

.restart {
    position: absolute;
    display: none;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    padding: 12px 24px;
    font-size: 20px;
    cursor: pointer;
}

.jump {
    animation: jump 600ms ease-out;
}

/* ANIMAÇÕES */
@keyframes pipe-animation {
    from { right: -80px; }
    to { right: 100%; }
}

@keyframes clouds-animation {
    from { right: -300px; }
    to { right: 100%; }
}

@keyframes jump {
    0% { bottom: 0; }
    40% { bottom: 180px; }
    60% { bottom: 180px; }
    100% { bottom: 0; }
}
